cloudflare_account_id   = "replace-me"
cloudflare_zone_id      = "replace-me"
github_owner_id         = null
github_repo_id          = null
assets_bucket_name      = "tahuna-public-assets-prod"
assets_bucket_location  = "weur"
assets_bucket_jurisdiction = "default"

frontend_project_name = "tahuna"
docs_project_name     = "tahuna-docs"

frontend_custom_domain = "tahuna.app"
docs_custom_domain     = "docs.tahuna.app"
